label{
    width: 300px;
    display: inline-block;
}

body {
    margin: auto;
}

.card-header{
    margin-top: 30px;
    color:snow
}
p#form_title{
    font-weight: 700;
    font-size: 30px;
    
}

.modalBox{
    visibility: hidden;
}
.modalBox.active{
    visibility: visible;
}